.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 48px;
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-size: 24px;
  text-align: center;
}

.grid-item img:hover {
  opacity: 0.5;
}

.grid-item .overlay {
	visibility: hidden;
}

.grid-item:hover .overlay h5 {
	visibility: visible;
  text-align: center;
  margin-top: auto;
}


header {
  padding: 10px;
  font-family: helvetica, arial, verdana;
  font-size: 24px;
}


