{% load blog_extras %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'projects/style.css' %}" />
    {% block title %} {% endblock %}
  </head>
  {% block page_content %}

  <body>
    <div class="home_container">
      <header>
        <h1>Bas Ernst</h1>
      </header>
      <div class="layout">
        <aside>
          <ul class="menu">
            <li><a class="menuItem" href="/projects/">Projects</a></li>
            <li><a class="menuItem" href="/blog">Blog</a></li>
            <li><a class="menuItem" href="/about">About</a></li>
          </ul>
        </aside>
        <main class="content">
          <img
            class="home_img"
            src="{{ image_url }}"
            alt="A random image taken from a collection that focuses on fabrics depicted on paintings present at the Rijksmuseum Amsterdam"
          />
        </main>
      </div>
    </div>
  </body>

  {% endblock %}
</html>
