{% extends "projects/base.html" %} {% load blog_extras %}{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block title %}
    Home
    {% endblock %}
  </head>
  {% block page_content %}
  <img
    class="responsive"
    src="{{ image_url }}"
    width=100%
    alt="A random image taken from a collection that focuses on fabrics depicted on paintings present at the Rijksmuseum Amsterdam"
  />
  {% endblock %}
</html>
