{% extends "base.html" %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'projects/style.css' %}" />
{% endblock %} {% block page_content %}
<h1>Projects</h1>
<div class="grid-container">
  {% for project in projects %}
  <div class="grid-item">
    <img src="{{ project.image.url }}" />
    <h5>{{ project.title }}</h5>
    <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">
      Read More
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
