<!DOCTYPE html>
<html land = "en">
<head>
  {% extends "base.html" %} 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>detail</title>
</head>

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
  <div class="col-md-8">
    <img
      src="{{ project.image.url }}"
      alt=" this is an image of the project "
      width="100%"
    />
  </div>
  <div class="col-md-4">
    <h5>About the project:</h5>
    <p>{{ project.description }}</p>
    <br />
    <h5>Technology used:</h5>
    <p>{{ project.technology }}</p>
  </div>
</div>
{% endblock %}
