<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %} {% load blog_extras %}
    <link rel="stylesheet" href="{% static 'projects/style.css' %}" />
    {% comment %}
    <script src="{% static 'projects/my_script.js' %}" defer></script>
    {% endcomment %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Josefin+Sans|Cardo"
    />
  </head>

  <body>
    <header>
      <h1>Bas Ernst</h1>
      <ul class="menu">
        <li><a class="menuItem" href="#">Home</a></li>
        <li><a class="menuItem" href="/projects/">Projects</a></li>
        <li><a class="menuItem" href="#">Blog</a></li>
        <li><a class="menuItem" href="/about">About</a></li>
      </ul>
    </header>

    {% block page_content %}{% endblock %}
  </body>
</html>
