<!DOCTYPE html>
<html land="en">
  <head>
    {% extends "projects/base.html" %} {% load blog_extras %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>detail</title>
  </head>

  {% block page_content %}
  <div class="row">
    <div class="image">
      <img
        src="{{ project.image.url }}"
        alt="This is an image of the project {{ project.title }} "
      />
    </div>
    <div class="description">
      <h2>{{ project.title }}</h2>
      <p>{{ project.description | markdown | safe }}</p>
      <br />
      <h3>Technology</h3>
      <p>{{ project.technology }}</p>
    </div>
  </div>
  {% endblock %}
</html>
