<!DOCTYPE html>
<html land="en">
  <head>
    {% extends "projects/base.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>overview</title>
  </head>

  <body>
    {% block page_content %}

    <div class="project_container">
      {% for project in projects %} 
      <div class="project_item">
        <a href="{% url 'project_detail' project.slug %}">
          <img src="{{ project.image.url }}" />
          <div class="overlay">
            <h6>{{ project.title }}</h6>
          </div>
        </a>
      </div>

      {% endfor %}
    </div>

    {% endblock %}
  </body>
</html>
